<div *ngFor="let tweet of tweets">
  <div class="w-100">
    <blockquote class="twitter-tweet">
      <p *ngIf="tweet.extended_tweet" lang="en" dir="ltr">{{ tweet.extended_tweet.full_text || tweet.text }}
        <p *ngIf="!tweet.extended_tweet" lang="en" dir="ltr">{{ tweet.text }}
          <!-- <a href="https://twitter.com/YosemiteNPS">@YosemiteNPS</a>. -->
          <!-- <a *ngFor="let ht of tweet.entities.hashtags" href="https://twitter.com/hashtag/?src=hash">
                  #{{ht.text}}
              </a>
              <a *ngFor="let um of tweet.entities.user_mentions"> 
                  @{{ um.screen_name}}
              </a> -->
        </p>&mdash; {{ tweet.user.name }} (@{{tweet.user.screen_name}})
        <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.user.id}}">{{ tweet.created_at | date: 'dd/MM/yyy' }}</a>

        <br/>RT: {{tweet.retweet_count}} | RP: {{ tweet.reply_count}} | FV: {{ tweet.favorite_count }} | Q: {{ tweet.quote_count
        }}
    </blockquote>
  </div>
</div>