<div class="container-fluid p-y-sm">
    <!-- Sub Header -->
    <div class="m-b-sm" id="sub-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" routerLink="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Install</li>
        </ol>

        <h1 class="main-title h1">Install our Plugin</h1>
    </div>
    <!-- FIN Sub Header -->

    <section class="section-code">
        <h2>Your Code</h2>
        <p class="lead">Copy this code into your Website's HTML (just before the closing <strong>Body</strong> tag).</p>
        <pre><code>&lt;script&gt;Sample code here...&lt;/script&gt;</code></pre>
    </section>
    <section class="section-tutorial">
        <h2>Tutorial</h2>
    </section>
</div>