<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6 col-xs-12">
      <h1 class="c-mediumgrey" style="text-align: center">LOG IN</h1>
      <div class="new-app app panel panel-default">
        <div class="panel-body text-center key-panel">
          <center><img src="http://keyslideapp.com/assets/img/auxi/logotipo.svg"></img></center>
          <form action="/login" method="post">
            <p>
              <div class="form-inline">
                <input type="text" class="form-control" style="width: 100%" placeholder="Username" name="username"
                       value="">
              </div>
            </p>
            <p>
              <div class="form-inline">
                <input type="password" class="form-control" style="width: 100%" placeholder="Password" name="password"
                       value="">
              </div>
            </p>
            <div>
              <input type="submit" class="btn btn-success" style="width: 100%" value="Login">
            </div>
          </form>
          <p class="c-mediumgrey"><small>Hint - duy:secret</small></p>
        </div>
      </div>
    </div>
  </div>
  <body>
</html>

