Hi <%= user %>. <br/>
We are pleased to inform you that you have been accepted as part of the Early Birds for Keyslide Beta.  <br/>
You'll have immediate access to all of the features currently available for the Beta. <br/>
Please click on the link below to activate your account: <br/>
<a href="<%= href %>"><%= href %></a> <br/>
If you haven't registered for a Keyslide Account, please ignore this email. <br/>
Sincerely, <br/>
Keyslide Team <br/>