Hi <%= user %>. <br/>
You have requested a password reset for your account. Please click on the link below: <br/>
<a href="<%= href %>"><%= href %></a> <br/>
If you don't recall requesting a Password Reset, please ignore this email. <br/>
Sincerely, <br/>
Keyslide Team <br/>