Hi <%= user %>. <br/>
Please click on the link below to activate your brand new Keyslide Account, and start making great presentations in minutes. <br/>
<a href="<%= href %>"><%= href %></a> <br/>
If you haven't registered for a Keyslide Account, please ignore this email. <br/>
Sincerely, <br/>
Keyslide Team. <br/>