<!-- Wrapper -->
<div class="wrapper-{{wrapper}}" id="wrap-{{wrap}}">

    <!-- Header -->
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a routerLink="/" href="">
                            <img src="http://placehold.it/150x35" alt="Wenteract" title="Wenteract" width="150" height="35">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline m-b-0 text-right">
                        <li class="list-inline-item"><a routerLink="dashboard" href="" routerLinkActive="active">Dashboard</a></li>
                        <li class="list-inline-item"><a routerLink="404" href="">404</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- END Header -->

    <!-- Sub-header -->
    <div id="sub-header" *ngIf="title">
        <div class="container">
            <h1>{{title}}</h1>
        </div>
    </div>
    <!-- END Sub-header -->

    <!-- Main -->
    <main id="main">
        <router-outlet></router-outlet>
    </main>
    <!-- END Main -->


    <!-- Footer -->
    <footer id="footer">
        <div class="container-fluid">
            <p>Footer</p>
        </div>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Wrapper -->