// Reset Bootstrap
$brand-success: #00B250;
$brand-primary: #4A90E2;

// Colors Brand
$color-brand-main: #2F9BD4;

// Color: Danger
$color-danger: #EB132D;
$color-danger-dark: #CF1B31;

$color-verde: #17A161;
$color-verde-light: #17CC78;

$color-azul: #3779C6;

// Medallas
$color-bronze: #D65E39;
$color-silver: #C5C7D2;
$color-gold: #FFBF53;

// Color: Space
$color-space-dark: #151926;
$color-space: #1A1F30;
$color-space-light: #2A394A;
$color-space-lighter: #383A46;

// Color: Grey
$color-grey-darkest: #212325;
$color-grey-darker: #373D48;
$color-grey-dark: #484E5A;
$color-grey: #7B818B;
$color-grey-light: #9FA4AD;
$color-grey-lighter: #BBBEC3;
$color-grey-lightest: #D9DBDF;
$color-grey-milky: #e1e3e5;
$color-grey-milkier: #f1f3f5;
$color-grey-milkiest: #F9FBFD;

// Fonts
$font-default: 'Ubuntu';
$line-height: 1.2;

// Break Points (Sizes)
$break-xs: 480px;
$break-sm: 772px;
$break-md: 992px;
$break-lg: 1200px;

$gap-xxs: .5em;
$gap-xs: 1em;
$gap-sm: 2.2em;
$gap-md: 4em;
$gap-lg: 6em;
$gap-xlg: 8.5em;

// Previews
$slideBaseHeight: 13em;