<div class="m-b-sm" id="sub-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/" href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a routerLink="../" href="#">Preview</a></li>
        <li class="breadcrumb-item active">Discussions</li>
    </ol>

    <div class="row">
        <div class="col-sm-8">
            <h1 class="main-title h1">Preview Discussions</h1>
        </div>
        <div class="col-sm-4 text-right">
            <button routerLink="/module/discussions" class="btn btn-default btn-bordered">Edit</button>
        </div>
    </div>

    <p class="lead">This is a preview of your Module, as will be seen by your visitors.</p>
</div>

<section class="section-channels">
    <p>[MODULE]</p>
</section>
