<div class="m-b-sm" id="sub-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/" href="#">Dashboard</a></li>
        <li class="breadcrumb-item active">Discussions</li>
    </ol>

    <h1 class="main-title h1">Discussions</h1>
</div>

<section class="section-channels">
    <ngb-tabset>
        <ngb-tab title="Requests">
            <ng-template ngbTabContent>
                <div class="tab-content p-y-xs">
                    <div class="row">

                        <!-- List Items -->
                        <div class="col-sm-5">
                            <div class="list-group">
                                <article class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Name LastName</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                                    <small><strong>Page:</strong> <a href="http://keyslideapp.com" target="_blank" rel="nofollow me">Home</a></small>
                                </article>
                                <article class="list-group-item list-group-item-action flex-column">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Name LastName</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                                    <small><strong>Page:</strong> <a href="http://keyslideapp.com" target="_blank" rel="nofollow me">Pricing</a></small>
                                </article>
                                <article class="list-group-item list-group-item-action flex-column align-items-end">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Name LastName</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                                    <small><strong>Page:</strong> <a href="http://keyslideapp.com" target="_blank" rel="nofollow me">Pricing</a></small>
                                </article>
                            </div>

                            <!-- Pagination Outer -->
                            <div class="pagination-outer m-t-sm">
                                <ngb-pagination
                                    [collectionSize]="35"
                                    [pageSize]="5"
                                    [maxSize]="4"
                                    [(page)]="page"
                                    aria-label="Default pagination"></ngb-pagination>
                            </div>
                            <!-- END Pagination Outer -->
                        </div>
                        <!-- END List Items -->

                        <!-- Item Content -->
                        <div class="col-sm-7">
                            <p>CONTENT</p>
                        </div>
                        <!-- END Item Content -->

                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Complaints">
            <ng-template ngbTabContent>
                <div class="tab-content p-y-xs">
                    <div class="row">

                        <!-- List Items -->
                        <div class="col-sm-5">
                            <div class="list-group">
                                <article class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Name LastName</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                                    <small><strong>Page:</strong> <a href="http://keyslideapp.com" target="_blank" rel="nofollow me">Home</a></small>
                                </article>
                                <article class="list-group-item list-group-item-action flex-column align-items-end active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Name LastName</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                                    <small><strong>Page:</strong> <a href="http://keyslideapp.com" target="_blank" rel="nofollow me">Pricing</a></small>
                                </article>
                            </div>

                            <!-- Pagination Outer -->
                            <div class="pagination-outer m-t-sm">
                                <ngb-pagination
                                    [collectionSize]="35"
                                    [pageSize]="5"
                                    [maxSize]="4"
                                    [(page)]="page"
                                    aria-label="Default pagination"></ngb-pagination>
                            </div>
                            <!-- END Pagination Outer -->
                        </div>
                        <!-- END List Items -->

                        <!-- Item Content -->
                        <div class="col-sm-7">
                            <p>CONTENT</p>
                        </div>
                        <!-- END Item Content -->

                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <i fa [name]="'plus'"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="tab-content p-y-xs">
                    <form action="" novalidate>
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input id="name"
                                type="text"
                                class="form-control"
                                aria-describedby="nameHelp"
                                placeholder="E.g. Questions, Complaints, etc.">
                            <small id="nameHelp" class="form-text text-muted">This will be the name your vistitors see.</small>
                        </div>
                        <div class="form-group">
                            <label for="name">Description</label>
                            <input id="description"
                                type="text"
                                class="form-control"
                                aria-describedby="descriptionHelp"
                                placeholder="Enter a brief description">
                            <small id="descriptionHelp" class="form-text text-muted">This will help your visitors understand this channel's use.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</section>
